.section-about {
  padding-top: 75px !important;
}

#download {
  padding-top: 50px !important;
}

#contact {
  padding-top: 50px !important;
}

.project-title {
  font-size: 20px;
}

.project-image {
  border: 2px solid pink;
}

.icon {
  font-size: 7rem;
}
