@font-face {
  font-family: 'Hello Stockholm';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('HelloStockholm-Alt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelloStockholm-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.hello_stockholm {
  font-family: 'Hello Stockholm';
  font-size:150px;
  color:white;
  text-align:center;
}

.section-about {
  padding-top: 75px !important;
  padding-bottom: 50px !important;
}

#download {
  padding-top: 50px !important;
  height: 1500px !important;
  background-color: black;
}

#contact {
  padding-top: 50px !important;
  height: 420px;
}

.project-title {
  font-size: 20px;
  font-family: ;
}

.project-image {
  border: 2px solid turquoise;
  height: 150px;
  width: 150px;

}

.project-description {
  color: turquoise;
  font-size: 14px;
  margin-top: 20px;
}

.icon {
  font-size: 7rem;
  padding: 10px;
  color: black;
}

.image-border {
  border: 3px solid turquoise;
  margin-bottom: 25px;
}

p {
  text-align: justify;
  font-size: 20px;
}


.img-circle {
  border-radius: 50%;
  border: 1px solid black;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#advanced {
  width: 200px;
  height: 200px;

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

  animation-name: spin;
  animation-duration: 3s; /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
