.section-about {
  padding-top: 75px !important;
}

#download {
  padding-top: 50px !important;
}

#contact {
  padding-top: 50px !important;
  height: 420px;
}

.project-title {
  font-size: 20px;
  font-family: ;
}

.project-image {
  border: 2px solid turquoise;
  height: 150px;
  width: 150px;

}

.opening {
}

.icon {
  font-size: 7rem;
  padding: 10px;
  color: black;
}

.image-border {
  border: 3px solid turquoise;
}

p {
  text-align: justify;
  font-size: 26px;
}


.img-circle {
  border-radius: 50%;
  border: 1px solid black;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#advanced {
  width: 200px;
  height: 200px;

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

  animation-name: spin;
  animation-duration: 3s; /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
